.storage
.cloud
.google.token
.uuid
.yandex_station.json
ip_bans.yaml
/secrets.yaml
known_devices.yaml
*.db
*.log
home-assistant_v2.*
webostv.conf
id_rsa
sftp-config.json
zigbee2mqtt/*
!zigbee2mqtt/devices.yaml